A {
     text-decoration: none !important;
} 
A:hover {
     cursor: pointer;
     text-decoration: none !important;
} 

.disabledLabel {
    color: rgb(136, 136, 136);
    cursor: not-allowed;
}


.qtip {
    color: white !important;
    background-color: rgb(6, 6, 6);
    font-size: 12px;
    border:  1px solid rgb(31, 121, 163);
}

.nav-list li.active {
    color: #ffffff;
    font-weight: bold;
}

.nav-list a.active {
    color: white;
    font-weight: bold;
}


.searchTable tr:hover {
    font-weight: bold;
    color: white;
    cursor: pointer;
}


.datagrid {
    background: #fff;
    overflow: hidden;
    border: 1px solid #2386B4;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

    .datagrid table {
        border-collapse: collapse;
        text-align: left;
        width: 100%;
    }

    .datagrid table td, .datagrid table th {
        padding: 2px 5px;
    }

    .datagrid table thead th {
        background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #2386B4), color-stop(1, #3986aa) );
        background: -moz-linear-gradient( center top, #2386B4 5%, #3986aa 100% );
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2386B4', endColorstr='#3986aa');
        background-color: #1F79A3;
        color: #FFFFFF;
        font-size: 12px;
        font-weight: normal;
        border-left: 1px solid #1F79A3;
    }

        .datagrid table thead th:first-child {
            border: none;
        }

    

    .datagrid table tbody td {
        color: rgb(136, 136, 136);
        border-left: 1px solid #6D94BF;
        font-size: 12px;
        border-bottom: 1px solid #6D94BF;
        font-weight: normal;
    }

    .datagrid table tbody .alt td {
        background: white;
        color: black;
    }

    .datagrid table tbody tr:hover td{
        background: rgb(42, 159, 214);
        color: white;
        cursor: pointer;
    }


    .datagrid table tbody td:first-child {
        border-left: none;
    }

    .datagrid table tfoot td {
        color: rgb(0, 85, 127);
        padding-left: 10px;
        font-size: 12px;
    }


.twoColumnTable {
    text-align: left;
    border-collapse: collapse;
    background-color: white;
    color: #00557F;
}

    .twoColumnTable td:first-child{
        vertical-align: text-top;
        padding: 4px 2px 0px 4px;
        border-right: 1px solid lightgray;
        border-bottom: 1px solid lightgray;
    }

    .twoColumnTable td:last-child{
        vertical-align: text-top;
        padding: 4px 2px 0px 4px;
        border-bottom: 1px solid lightgray;
    }






.css-treeview ul {
    padding-left: 15px;
    list-style-type: none;
     font-size: 12px
}

.spanTreeViewSelected {
    color: #2a9fd6;
    font-weight: bold;
    font-size: 12px
}

.fixedMenuRight {
    margin: 0;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    display: table;
    margin: 0;
    position: fixed;
    right: 15px;
    top: 80px !important;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: transparent;
}


.fixedMenuRightWell {
    margin: 0;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    display: table;
    position: fixed;
    height:30px;
    right: 15px;
    top: 90px !important;
    padding-left: 10px;
    padding-right: 5px;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: transparent;
}



.nonFixedMenu {
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: transparent;
}



.borderBottomHr {
    border-bottom-style: solid; 
    border-bottom-color: #808080;; 
    border-bottom-width: 1px;
}

.viewContent {
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 5px;
    overflow-y: auto;
    overflow-x: auto;
    border-width: 1px;
    border-style: solid;
    border-top-color: #151515;
    border-left-color: #151515;
    border-right-color: #151515;
    border-bottom-color: transparent;
}
